<div>
  <strong>Name: </strong><%= @bet.name %>
</div>

<div>
  <strong>Amount: </strong><%= @bet.amount %>
</div>

<div>
  <strong>Description: </strong><%= @bet.description %>
</div>

<div>
  <form action='/bets/<%= @bet.id %>/edit' method='get'>
    <button> Edit Bet </button>
  </form>
</div>

<%= button_to "Delete Bet", bet_path(@bet.id), method: :delete %>

<div>
  <form action='/bets/<%= @bet.id %>/volunteers' method='post'>
    <button> Volunteer! </button>
  </form>
</div>
