<h1> List of all Users </h1>
<% @user.each do |user| %>
<div class="row">
  <div class="col s12" style="background: yellow">
    <div class="col s2">
      <img class = 'image' src="<%= user.image_url %>" onerror="this.src='https://s31.postimg.org/88bcsumi3/IMG_5552.jpg';" width='150px'>
    </div>
      <div class="col s4">
      Username: <%= user.user_name %></br>
      Name: <a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></br>
      Email: <%= user.email %>

    </div>
  </div>
</div>
<% end %>
