
<div>
  <strong>User ID: </strong><%= @user.id %>
</div>
<div>
  <strong>Username: </strong><%= @user.user_name %>
</div>
<div>
  <strong>First Name: </strong><%= @user.first_name %>
</div>
<div>
  <strong>Last Name: </strong><%= @user.last_name %>
</div>
<div>
  <strong>Email: </strong><%= @user.email %>
</div>
