</br></br>
<div class="container row">
  <div class="row">
    <div class="col s8 offset-s2 showPage" style="padding: 1%">
      <h4 style="text-align: center"> <%= @user.first_name %> <%= @user.last_name %> Profile! </h4></br><hr>
      <div class="col s4 offset-s2">
        <img class = 'image circle' src="<%= @user.image_url %>" onerror="this.src='https://s31.postimg.org/88bcsumi3/IMG_5552.jpg';" width='150px'>
      </div>
      <div class="col s4">
        <div>
          <strong>Username: </strong><%= @user.user_name %>
        </div>
        <div>
          <strong>First Name: </strong><%= @user.first_name %>
        </div>
        <div>
          <strong>Last Name: </strong><%= @user.last_name %>
        </div>
        <div>
          <strong>Email: </strong><%= @user.email %>
        </div><hr></br>
        <% if current_user.id == @user.id %>
        <div>
          <button>
            <a href='/users/<%= @user.id %>/edit' class="button-link btn waves-effect waves-light">Edit Profile</a>
          </button>
        </div>
        <% else %>
        <button>
          <a href='/' class="btn waves-effect waves-light">Friend</a>
        </button>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container row">
  <div class="col s8 offset-s2 showPage">
    <h4 style="text-align: center"> Bets Created </h4><hr>
    <% @bet.each do |bet| %>
    <div class="row">
      <div class="col s6">
        <strong>Title: </strong><a href="/bets/<%= bet.id %>"><%= bet.name %></a> </br>
        <strong>Amount: </strong>$<%= bet.amount %> </br>
        <strong>Description: </strong><%= bet.description %> </br>
        <strong>Bet Created By: </strong><%= bet.user.first_name %> <%= bet.user.last_name %>
      </div>
      <% if current_user.id == @user.id %>
      <div class="col s6">
      </br>
      <form action="/charge" method="POST">
        <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_IfG0YxOGCXBsNi29aj9qqHFY"
        data-amount="<%= bet.amount * 100 %>"
        data-name="Demo Site"
        data-description="Pay Now!"
        data-image="/img/documentation/checkout/marketplace.png"
        data-locale="auto">
      </script>
    </form>
  </div>
  <% end %>
</div><hr>
<% end %>
</div>
</div>


<div class="container row">
  <div class="col s8 offset-s2 showPage">
    <h4 style="text-align: center"> Bets Volunteered </h4><hr>
    <% @volunteer.each do |volunteer| %>
    <% if volunteer.complete == false %>
    <div class="row">
      <div class="col s6">
        <strong>Title: </strong><a href="/bets/<%= volunteer.bet.id %>"><%= volunteer.bet.name %></a></br>
        <strong>Amount: </strong>$<%= volunteer.bet.amount %></br>
        <strong>Description: </strong><%= volunteer.bet.description %></br>
        <strong>Bet Created By: </strong><%= volunteer.bet.user.first_name %> <%= volunteer.bet.user.last_name %></br>
      </div>
      <div class="col s6"></br>
        <div>
          <%= button_to "Completed!", edit_volunteer_path(volunteer.id), class: "btn waves-effect waves-light", method: :patch %>
        </div>
      </div>
    </div><hr>
    <% end %>
    <% end %>
  </div>
</div>

<div class="container row" style="margin-bottom: 2%">
  <div class="col s8 offset-s2 showPage">
    <h4 style="text-align: center"> Bets Completed </h4><hr>
    <% @volunteer.each do |volunteer| %>
    <% if volunteer.complete %>
    <div class="row">
      <div class="col s12">
        <strong>Title: </strong><a href="/bets/<%= volunteer.bet.id %>"><%= volunteer.bet.name %></a></br>
        <strong>Amount: </strong>$<%= volunteer.bet.amount %></br>
        <strong>Description: </strong><%= volunteer.bet.description %></br>
        <strong>Bet Created By: </strong><%= volunteer.bet.user.first_name %> <%= volunteer.bet.user.last_name %></br>
      </div>
    </div><hr>
    <% end %>
    <% end %>
  </div>
</div>
